@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Formation</title>
    </head>
    <body>
        <div>
            @Html.Raw(ViewData["Result"].ToString())  
        </div>
    </body>
</html>